<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>이름</th>
      </tr>
      </thead>
      <!--루프를 돌면서 thymeleaf 로직(tbody) 실행-->
      <!-- th:each 가 자바의 foreach 문이랑 같음, 밑의 코드에서 member 가 변수, ${members}가 넘어온 List 임 -->
      <tbody>
      <tr th:each="member : ${members}">
        <td th:text="${member.id}"></td>
        <td th:text="${member.name}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>